

h1{
	color:#ff6600;
	text-align: center
}
a {
	color: black;
}
p { text-indent: 50px ;
	color : #8B4513;

 }
 h5 {
 	color : blue;
 }
 button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
