

body {
	background-image : url('./images/background.jpg');
}

#title {
	font-family : cursive;
	color : #191970;
	font-size: 70px
}
#text{
	font-family : cursive;
	color : black;
	font-size: 25px


}
h1{
	color:#ff6600;
	text-align: center

}
a {
	color: #ff9900;
}
p { text-indent: 50px 
 }





